
.header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-color: grey; */
}
.homepage_nav-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
}
.homepage_nav-header a{
    margin-right: 15px;
    text-decoration: inherit;
    color: #000000;
    font-size: 15px;
}
.homepage_nav-header a:hover{
    text-decoration: underline;
    color: #000000;
}

.homepage_nav-header-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.homepage_nav-header-right{
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: space-between;
}
.homepage_nav-header-right > .MuiSvgIcon-root{
    margin-right: 20px;
} 

.homepage_nav-body{
flex: 1;
display: flex;
margin-top: 10%;
flex-direction: column;
}
.homepage_nav-body > img{
  object-fit: contain;
  height: 100px;
}